<!-- Available On Section -->
<section class="availableon-section" id="downloadapp">
  <div class="container text-center">
     <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
        <div fxFlex="100" class="col wow fadeInLeftBig" data-wow-duration="1s">
           <h2>MISS BRONZE AND GOLD IRELAND</h2>
           <p>Saturday 27th July at Ambassadors Hotel,Military Hill, Cork. The event will start at 6:00pm.</p>
        </div>
     </div>
  </div>
</section>