<div class="container mb-2">
    <h3 class="section-title" data-wow-delay="0.5s" class="col wow bounce">
        Gallery - Miss Bronze and Gold Ireland
     </h3>
  <mat-card class="full-slide-gallery mat-elevation-z4 p-1 w-100" id="testimonials-section">
    <ngu-carousel class="slider" #myCarousel [inputs]="carouselOptions" [dataSource]="slidesImages">
       <ngu-tile *nguCarouselDef="let item; let i = index; let ani = animate" [@slider]="ani">
          <div class="slider-bg" [ngStyle]="{ 'background-image': 'url(' + item + ')'}">
             <div class="slider-content">
                <!--<div class="mat-bg-primary slider-overlay"></div>-->
                <div class="pt-carousel"></div>
                </div>
                </div>
       </ngu-tile>
       <ul class="myPoint" NguCarouselPoint>
             <li *ngFor="let i of myCarousel.pointNumbers; let i = index" class="mat-bg-primary"
                [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"
                [style.background]="'url(' + slidesImages[i] + ')'"></li>
          </ul>
    </ngu-carousel>
  </mat-card>
</div>