<footer class="home-footer">
    <section class="home-footer-top">
       <div class="container">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
             <div fxFlex="50" class="footer-box">
                <h4 class="footer-box-title"><b>About Us</b></h4>
                <p class="mt-2">Miss Bronze and Gold Ireland is out to empower young women of all nationalities living in Ireland.It is one of the Largest multicultural pageant in Ireland.
                </p>
                <button mat-raised-button color="primary">Contact Us</button>
             </div>
             <div fxFlex="25" class="footer-box">
                <h4 class="footer-box-title"><b>Contact</b></h4>
                <mat-list>
                   <mat-list-item>
                      <mat-icon mat-list-icon color="primary">email</mat-icon>
                      <h5 matLine><b>Email</b></h5>
                      <p matLine> missbronzeireland@yahoo.com </p>
                   </mat-list-item>
                   <mat-list-item>
                      <mat-icon mat-list-icon color="primary">location_on</mat-icon>
                      <h5 matLine><b>Adress</b></h5>
                      <p matLine> Ambassadors Hotel,. </p>
                      <p matLine>Military Hill, Cork Ireland </p>
                   </mat-list-item>
                </mat-list>
             </div>
             <div fxFlex="25" class="footer-box">
                <h4 class="footer-box-title"><b>Disclaimer</b></h4>
                <p>All images as to every other content are properties of Miss Bronze and Gold Ireland. </p>
                <small>&copy; 2019 All Rights Reserved.</small>
                <div class="socials pt-1">
                   <ul>
                      <li><a href="" class="social-icon linkedin"></a></li>
                      <li><a href="" class="social-icon twitter"></a></li>
                      <li><a href="https://www.facebook.com/missbronzeandgold/" target="_blank" class="social-icon facebook"></a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </section>
    <button class="back-to-top" mat-fab color="default" [scrollTo]="'home'"><mat-icon>arrow_upward</mat-icon></button>
 </footer>