 <!-- Purchase Now -->
 <section class="purchase-now mat-bg-primary-dark">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666" class="col wow fadeInLeftBig" data-wow-duration="1s">
        <h2>Register Now - July 2019 Edition</h2>
        <p>This is the second Edition and we plan to make it bigger and even more diverse this year. It is a beauty pageant with no weight, height or nationality restrictions.</p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center" class="col wow fadeInRightBig" data-wow-duration="1s">
        <button mat-raised-button mat-lg-button color="accent" [routerLink]="['/register']" routerLinkActive="router-link-active" >Click to Register</button>
      </div>
    </div>
  </div>
</section>