<app-header [sizeLogo]='70' [typehead]="'other'"></app-header>
<div class="bread-crumb mat-bg-primary"></div>
<div class="header-apart container">
  <h1>About us: Miss Bronze and Gold Ireland</h1>
  <div class="oval">
      <img data-wow-iteration="5" data-wow-duration="0.15s" class="col wow flip" class="img-responsive" src="assets/images/logo.jpg" alt="miss bronze and gold Ireland">
  </div>
  <p>
      Miss Bronze and Gold Ireland is one of the highly anticipated Pageant launches in Ireland in 2014. it is one of the Largest multicultural pageant in Ireland. This is the second Edition and we plan to make it bigger and even more diverse this year. It is a beauty pageant with no weight, height or nationality restrictions. It is very inclusive and everyone is welcome to participate regardless of your national. Our focus is not only beauty, we focus on beauty and brain. So if you have what it takes to be the next Miss Bronze and Ireland queen, send us an email to missbronzeireland@yahoo.com with your contact details and we will get back to you as soon as possible.
  </p>
  <p>
      Miss Bronze and Gold Ireland contestants are intelligent young women from very respected families and highly respectable institutions in Ireland. All our contestants have inherited the Irish spirit of giving back to their community. These young girls are taking the opportunities given to them to speak out for the less privilege and disadvantaged. Our present queen graduated with a Masters degree in Psychlogy and now practice as a psychologist with NHS. She has been involved in a lot of charity work since her reign.
  </p>

  <p>
      Miss Bronze and Gold Ireland Winner Cynthia Anaba after being crowned Miss Bronze and Gold Ireland 2014 did her first placement with Dress for Success, which is a community organization empowering women to achieve economic independence.
  </p>

</div>

<app-footer></app-footer>